*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    background-color: #000;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box{
    position:absolute;
    height:90%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.circle{
    position:absolute;
    width:calc(var(--i)*2.5vmin);
    aspect-ratio: 1;
    border: 2px solid rgb(219, 11, 80);
    border-radius: 50%;
    transform: rotateX(70deg) translateY(50px);
    animation:animate 3s calc(var(--i)*0.08s) ease-in-out infinite;
}

@keyframes animate {
    0%,100%{
        transform: rotateX(70deg) translateY(50px) translateY(0);
        filter: hue-rotate(0);
    }
    
    50%{
        transform: rotateX(70deg) translateY(50px) translateY(50vmin);
        filter: hue-rotate(360deg);
    }
}